<html>
<body>
<h1>Enter string to check for Palindrome</p>
	
<input type="text" id="myText" value="">

<button onclick="myFunction()">Try it</button>

<p id="message"</p>
<p id="demo"></p>


<script>
function myFunction() {
    var str = document.getElementById("myText").value;
	var x = 0;
    var len = str.length;
    for ( var i = 0; i < Math.floor(len/2); i++ ) {
        if (str[i] !== str[len - 1 - i]) {
            x=1;
        }
    }
    if(x>0){
    	document.getElementById("demo").innerHTML = "Not Palindrome";
    }
    else{
    	document.getElementById("demo").innerHTML = "Palindrome";
    }
    	
}
</script>

</body>
</html>